*.class
.svn/
java_genfiles/
.metadata
.settings
target/
.gwt
gwt-unitCache/
*.pdf
*.xls*
pmsGwtWar/src/main/webapp/WEB-INF/classes/
pmsGwtWar/src/main/webapp/WEB-INF/deploy/
pmsGwtWar/src/main/webapp/WEB-INF/lib/
pmsGwtWar/src/main/webapp/pmsGwtWar/
dumps/
results/
bin/
classes/
deploy/
lib/
*.nocache.js
gwt/
clear.cache.gif
hosted.html
junit-standards.html
junit.html
.classpath
.project
*.launch
